.form {
    padding-bottom: 28px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
    width: 358px;
  }
  
  .form__fieldset {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: none;
  }

  .form__input-lable{
    margin: 0;
    padding-top: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
  }
  
  .form__input {
    margin-top: 9px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
  }
  
  .form__input_type_error {
    border-bottom: 1px solid red;
    opacity: 1;
  }

  .form__input-error{
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }
  
  .form__input-error_active {
   visibility: visible;
  }
  
  .form__fieldset-button {
    border: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 30px;
    max-width: 358px;
  }
  
  .form__button {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    padding-top: 20px;
    padding-left: 115px;
    padding-bottom: 20px;
    padding-right: 115px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 360px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form__button:hover {
    background: #347EFF;
  }

  .form__button:active{
    background: #2A65CC;
  }
  
  .form__button_disabled {
    background: #E6E8EB;
    color: #B6BCBF;
    box-sizing: border-box;
    cursor: default;
  }
  
  .form__button_disabled:hover {
    background: #E6E8EB;
  }

  

  @media screen and (max-width: 600px) {
    .form {
      padding-top: 0px;
      padding-bottom: 16px;
      max-width: 288px;
      width: 100%;
    }

    .form__input-lable{
      padding: 0;
    }

    .form__input-lable-email{
     padding: 0;
    }

    .form__input-lable-password{
     padding-top: 30px;
    }

    .form__input-lable-username{
      padding-top: 30px;
    }

    .form__input-lable-password_signup{
      padding-top: 10px;
    }

    .form__input-lable-username_signup{
      padding-top: 10px;
    }
  
    .form__input {
      width: 100%;
    }
  
    .form__fieldset-button {
      padding-top: 46px;
      max-width: 100%;
    }
  
    .form__button {
      font-size: 18px;
      line-height: 24px;
      width: 288px;
      padding-top: 20px;
      padding-left: 79px;
      padding-bottom: 20px;
      padding-right: 79px;
    }
  }