.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    transition: 0.3s linear;
  }
  
  .popup_fadein {
    visibility: visible;
    opacity: 1;
  }
  
  .popup__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 470px;
  }
  
  .popup__close-button {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 6px;
    background: url(../../images/Close_Icon.svg) no-repeat center/cover;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
    transform: rotate(45deg);
  }
  
  .popup__form-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 430px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
  
  .popup__header {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px; 
    text-align: left;
    color: #1A1B22;
    align-self: flex-start;
    padding-top: 34px;
    padding-left: 36px;
  }

  .popup__form {
    padding-bottom: 28px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
    width: 358px;
  }


   .popup__form-button-fieldset {
    border: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 30px;
    max-width: 358px;
  }
  
  .popup__form-button {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    padding-top: 20px;
    padding-left: 115px;
    padding-bottom: 20px;
    padding-right: 115px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 360px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .popup__form-button:hover {
    background: #347EFF;
  }

  .popup__form-button:active{
    background: #2A65CC;
  }
  
  .popup__form-button_disabled {
    background: #E6E8EB;
    color: #B6BCBF;
    box-sizing: border-box;
    cursor: default;
  }
  
  .popup__form-button_disabled:hover {
    background: #E6E8EB;
  }

  .popup__link{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 28px;
   }

  .popup__link-span{
    margin: 0;
    text-decoration: none;
    color:  #2F71E5;
    cursor: pointer;
  }

  .popup__form-submitError{
    margin: 0 auto;
    padding-top: 17px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }
  
  
  @media screen and (max-width: 440px) {
   
    .popup__container {
      width: 100%;
      padding-top: 56px;
    }
  
    .popup__close-button {
      margin-bottom: 13.5px;
      width: 24px;
      height: 24px;
      margin-top: 16px;
      margin-right: 16px;
    }
  
    .popup__form-container {
      width: 100%;
    }

    .popup__form {
      padding-top: 0px;
      padding-bottom: 16px;
      max-width: 288px;
      width: 100%;
    }
  
    .popup__header {
      font-size: 24px;
      line-height: 28px;
      padding-top: 16px;
      padding-left: 17px;
      padding-bottom: 18px;
    }

    .popup__form-submitError{
      padding-top: 5px;
    }

    .popup__form-button-fieldset {
      padding-top: 46px;
      max-width: 100%;
    }
  
    .popup__form-button {
      font-size: 18px;
      line-height: 24px;
      width: 288px;
      padding-top: 20px;
      padding-left: 79px;
      padding-bottom: 20px;
      padding-right: 79px;
    }

    .popup__link{
      padding-bottom: 100%;
    }
  }