.nav{
    display: flex;
    gap: 76px;
}
   
.nav__home{
 background: none;
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 24px;
 cursor: pointer;
 padding-top: 11px;
 padding-bottom: 17px;
 margin-bottom: 0;
 text-decoration: none;
 color: #B6BCBF;
 transition: 0.3s linear;
 max-width: 68px;
 text-align: center;
}

.nav__home:hover{
 color: #FFFFFF;
}
   
.nav__articles{
 margin: 0;
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 24px;
 color: #B6BCBF;
 text-decoration: none;
 padding-top: 11px;
 padding-bottom: 17px;
 transition: 0.3s linear;
 max-width: 178px;
 text-align: center;
}

.nav__articles:hover{
  color: #FFFFFF;
}

.nav__link_loggedin{
  color: #1A1B22;
}

.nav__link_loggedin:hover{
    color: #1A1B22;
  }
   
.nav__link_active{
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF; 
}
   
.nav__link_active-black{
  border-bottom: 3px solid #1A1B22; 
}

@media screen and (max-width: 900px){
  .nav{
    max-width: 100%;
    width: 208px;
    gap: 16px;
    justify-content: flex-end;
  }

  .nav__home{
    padding-top: 8px;
    font-size: 16px;
    max-width: 64px;
    align-self: flex-end;
    width: 100%;
  }

  .nav__articles{
    font-size: 16px;
    max-width: 160px;
    width: 100%;
  }
}

@media screen and (max-width: 700px){
  .nav{
    display: none;
  }
}